@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h1 class="display-4">Pozdravljeni v bazo vzdržljivostnih tekmovanj</h1>
    <p></p>
    <br/>
    <br/>
    <img src="https://www.pngitem.com/pimgs/m/153-1531470_transparent-triathlon-clipart-triathlon-logo-png-png-download.png" border="1">
</div>
